<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AIP.DataSet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
 
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="fileInfo" type="AsyncWrapper" queueLimit="15000" overflowAction="Block">
        <target xsi:type="File" fileName="C:\TOSS\logs\aip.log" archiveFileName="C:\TOSS\logs\archive\aip.{#}.log" archiveEvery="Day" archiveNumbering="Date" archiveDateFormat="yyyy-MM-dd-HH-mm" maxArchiveFiles="8" layout="${level:uppercase=true}|${machinename}|${windows-identity}|${assembly-version}|${logger}|${longdate}|${message}"/>
      </target>
      <target name="fileWarn" xsi:type="File" fileName="C:\TOSS\logs\aipwarn.log" archiveFileName="C:\TOSS\logs\archive\aipwarn.{#}.log" archiveEvery="Day" archiveNumbering="Date" archiveDateFormat="yyyy-MM-dd-HH-mm" maxArchiveFiles="8" layout="${level:uppercase=true}|${machinename}|${windows-identity}|${assembly-version}|${logger}|${longdate}|${message}${exception:format=toString}"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="fileInfo"/>
      <logger name="*" minlevel="Warn" writeTo="fileWarn"/>
      <!--<logger name="*" minlevel="Debug" writeTo="fileDebug" />-->
    </rules>
  </nlog>
  <userSettings>
    <AIP.DataSet.Properties.Settings>
      <setting name="UseLinks" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Organization" serializeAs="String">
        <value>LGS</value>
      </setting>
      <setting name="SuppressErrors" serializeAs="String">
        <value>False</value>
      </setting>
    </AIP.DataSet.Properties.Settings>
  </userSettings>
</configuration>
