<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    <section name="AimslSettings" type="AIMSLServiceClient.Config.AimslSettings, AIMSLServiceClient"/>
    <section name="ServerSettings" type="Aran.Temporality.Internal.Config.ServerSettings, Aran.Temporality"/>
  </configSections>

  <ServerSettings />
  <AimslSettings />

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="fileInfo" type="AsyncWrapper" queueLimit="15000" overflowAction="Block">
        <target  xsi:type="File"
          fileName="C:\TOSS\logs\info.log"
          archiveFileName="C:\TOSS\logs\archive\info.{#}.log"
          archiveEvery="Day"
          archiveNumbering="Date"
          archiveDateFormat="yyyy-MM-dd-HH-mm"
          maxArchiveFiles="8"
          layout="${level:uppercase=true}|${machinename}|${windows-identity}|${assembly-version}|${logger}|${longdate}|${message}"
      />
      </target>
      <target name="fileWarn" xsi:type="File"
        fileName="C:\TOSS\logs\warn.log"
        archiveFileName="C:\TOSS\logs\archive\warn.{#}.log"
        archiveEvery="Day"
        archiveNumbering="Date"
        archiveDateFormat="yyyy-MM-dd-HH-mm"
        maxArchiveFiles="8"
        layout="${level:uppercase=true}|${machinename}|${windows-identity}|${assembly-version}|${logger}|${longdate}|${message}${exception:format=toString}"
      />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="fileInfo" />
      <logger name="*" minlevel="Warn" writeTo="fileWarn" />
      <!--<logger name="*" minlevel="Debug" writeTo="fileDebug" />-->
    </rules>
  </nlog>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup>

  <system.serviceModel>
    <extensions>
      <bindingElementExtensions>
        <add name="unsecureMessageEncoding" type="AIMSLServiceClient.Services.Extensions.UnsecureMessageEncodingElement, AIMSLServiceClient, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </bindingElementExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="CTS">
          <clientCredentials>
            <clientCertificate findValue="e6 ed d9 d6 62 fe 3d 5e 0a 45 46 08 d4 44 88 b7 a2 68 4f 23"
                               x509FindType="FindByThumbprint" />
            <serviceCertificate>
              <defaultCertificate findValue="AIMSL CA non-productive System"
                                  storeName="Root" x509FindType="FindBySubjectName" />
            </serviceCertificate>
          </clientCredentials>
        </behavior>
        <behavior name="FTS">
          <clientCredentials>
            <clientCertificate findValue="ev_AIMSLRISK2" x509FindType="FindBySubjectName" />
            <serviceCertificate>
              <defaultCertificate findValue="AIMSL CA non-productive System"
                                  storeName="Root" x509FindType="FindBySubjectName" />
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <customBinding>
        <binding name="MTOMBinding">
          <security defaultAlgorithmSuite="TripleDesRsa15" allowSerializedSigningTokenOnReply="true" authenticationMode="MutualCertificateDuplex" requireDerivedKeys="false" includeTimestamp="true" messageProtectionOrder="SignBeforeEncrypt" requireSignatureConfirmation="false">
            <localClientSettings detectReplays="true"/>
            <localServiceSettings detectReplays="true"/>
          </security>
          <mtomMessageEncoding messageVersion="Soap11"/>
          <httpsTransport requireClientCertificate="true"/>
        </binding>
        <binding name="SDDBinding">
          <security defaultAlgorithmSuite="TripleDesRsa15" allowSerializedSigningTokenOnReply="true" authenticationMode="MutualCertificateDuplex" requireDerivedKeys="false" includeTimestamp="true" messageProtectionOrder="SignBeforeEncrypt" requireSignatureConfirmation="false">
            <localClientSettings detectReplays="true"/>
            <localServiceSettings detectReplays="true"/>
          </security>
          <textMessageEncoding messageVersion="Soap11"/>
          <httpsTransport requireClientCertificate="true"/>
        </binding>
        <binding name="SubscriptionManagerBinding">
          <security allowSerializedSigningTokenOnReply="true" enableUnsecuredResponse="true" authenticationMode="MutualCertificateDuplex" requireDerivedKeys="false" includeTimestamp="true" keyEntropyMode="CombinedEntropy" messageProtectionOrder="SignBeforeEncrypt" requireSignatureConfirmation="false">
            <localClientSettings detectReplays="true"/>
            <localServiceSettings detectReplays="true"/>
          </security>
          <unsecureMessageEncoding/>
          <httpTransport/>
        </binding>
        <binding name="NotificationManagerBinding">
          <security allowSerializedSigningTokenOnReply="true" enableUnsecuredResponse="true" authenticationMode="MutualCertificateDuplex" requireDerivedKeys="false" includeTimestamp="true" keyEntropyMode="CombinedEntropy" messageProtectionOrder="SignBeforeEncrypt" requireSignatureConfirmation="false">
            <localClientSettings detectReplays="true"/>
            <localServiceSettings detectReplays="true"/>
          </security>
          <unsecureMessageEncoding/>
          <httpsTransport requireClientCertificate="true"/>
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://vead03.cts.ead-itp.com:4443/aimsl/AIMSLPubSubExtConsumer/1.0" behaviorConfiguration="CTS" binding="customBinding" bindingConfiguration="SDDBinding" contract="CTSPubSub.AIMSLPubSubExtConsumer" name="CTSPubSubPort">
        <identity>
          <dns value="AIMSL CA non-productive System"/>
        </identity>
      </endpoint>
      <endpoint address="https://vead03.fts.ead-itp.com:4443/aimsl/AIMSLPubSubExtConsumer/1.0" behaviorConfiguration="FTS" binding="customBinding" bindingConfiguration="SDDBinding" contract="CTSPubSub.AIMSLPubSubExtConsumer" name="FTSPubSubPort">
        <identity>
          <dns value="AIMSL CA non-productive System"/>
        </identity>
      </endpoint>
      <endpoint address="https://vead03.cts.ead-itp.com:4443/aimsl/SDDDownloadWebService/1.0" behaviorConfiguration="CTS" binding="customBinding" bindingConfiguration="SDDBinding" contract="CTSDownload.SDDDownloandPortType" name="CTSDownloadPort">
        <identity>
          <dns value="AIMSL CA non-productive System"/>
        </identity>
      </endpoint>
      <endpoint address="https://vead03.fts.ead-itp.com:4443/aimsl/SDDDownloadWebService/1.0" behaviorConfiguration="FTS" binding="customBinding" bindingConfiguration="SDDBinding" contract="CTSDownload.SDDDownloandPortType" name="FTSDownloadPort">
        <identity>
          <dns value="AIMSL CA non-productive System"/>
        </identity>
      </endpoint>
      <endpoint address="https://vead03.cts.ead-itp.com:4443/aimsl/SDDUploadWebService/1.0" behaviorConfiguration="CTS" binding="customBinding" bindingConfiguration="MTOMBinding" contract="SDDUploadPortType" name="CTSUploadPort">
        <identity>
          <dns value="AIMSL CA non-productive System"/>
        </identity>
      </endpoint>
      <endpoint address="https://vead03.fts.ead-itp.com:4443/aimsl/SDDUploadWebService/1.0" behaviorConfiguration="FTS" binding="customBinding" bindingConfiguration="MTOMBinding" contract="SDDUploadPortType" name="FTSUploadPort">
        <identity>
          <dns value="AIMSL CA non-productive System"/>
        </identity>
      </endpoint>
      <endpoint address="http://vead03.cts.ead-itp.com:8888/aimsl/CreatePullPoint/1.3" behaviorConfiguration="CTS" binding="customBinding" bindingConfiguration="SubscriptionManagerBinding" contract="NotificationBroker.CreatePullPoint" name="CTSCreatePullPoint">
        <identity>
          <dns value="AIMSL CA non-productive System"/>
        </identity>
      </endpoint>
      <endpoint address="http://vead03.fts.ead-itp.com:8888/aimsl/CreatePullPoint/1.3" behaviorConfiguration="FTS" binding="customBinding" bindingConfiguration="SubscriptionManagerBinding" contract="NotificationBroker.CreatePullPoint" name="FTSCreatePullPoint">
        <identity>
          <dns value="AIMSL CA non-productive System"/>
        </identity>
      </endpoint>
      <endpoint address="http://vead03.cts.ead-itp.com:8888/aimsl/PullPoint/1.3" behaviorConfiguration="CTS" binding="customBinding" bindingConfiguration="SubscriptionManagerBinding" contract="NotificationBroker.PullPoint" name="CTSPullPoint">
        <identity>
          <dns value="AIMSL CA non-productive System"/>
        </identity>
      </endpoint>
      <endpoint address="http://vead03.fts.ead-itp.com:8888/aimsl/PullPoint/1.3" behaviorConfiguration="FTS" binding="customBinding" bindingConfiguration="SubscriptionManagerBinding" contract="NotificationBroker.PullPoint" name="FTSPullPoint">
        <identity>
          <dns value="AIMSL CA non-productive System"/>
        </identity>
      </endpoint>
      <endpoint address="https://vead03.fts.ead-itp.com:4443/aimsl/NotificationBroker/1.3" behaviorConfiguration="FTS" binding="customBinding" bindingConfiguration="NotificationManagerBinding" contract="NotificationBroker.NotificationBroker" name="FTSNotificationBroker">
        <identity>
          <dns value="AIMSL CA non-productive System"/>
        </identity>
      </endpoint>
      <endpoint address="https://vead03.cts.ead-itp.com:4443/aimsl/NotificationBroker/1.3" behaviorConfiguration="CTS" binding="customBinding" bindingConfiguration="NotificationManagerBinding" contract="NotificationBroker.NotificationBroker" name="CTSNotificationBroker">
        <identity>
          <dns value="AIMSL CA non-productive System"/>
        </identity>
      </endpoint>
      <endpoint address="http://vead03.cts.ead-itp.com:8888/aimsl/SubscriptionManager/1.3" behaviorConfiguration="CTS" binding="customBinding" bindingConfiguration="SubscriptionManagerBinding" contract="NotificationBroker.SubscriptionManager" name="CTSSubscriptionManager">
        <identity>
          <dns value="AIMSL CA non-productive System"/>
        </identity>
      </endpoint>
      <endpoint address="http://vead03.fts.ead-itp.com:8888/aimsl/SubscriptionManager/1.3" behaviorConfiguration="FTS" binding="customBinding" bindingConfiguration="SubscriptionManagerBinding" contract="NotificationBroker.SubscriptionManager" name="FTSSubscriptionManager">
        <identity>
          <dns value="AIMSL CA non-productive System"/>
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>
