<div class="card m-3">
  <div class="card-header bg-white header-elements-sm-inline">
    <h6 class="card-title">{{lang.get('Requests')}}
      <a [routerLink]="['/request']" class=" ml-2">
        <span class="badge badge-primary">{{lang.get('New request')}}<i class="icon-plus22"></i></span></a>
    </h6>
    <div class="header-elements">
      <ul class="list-inline mb-0">
        <li class="list-inline-item">
          <div class="form-group-feedback form-group-feedback-right">
            <input type="search" class="form-control wmin-sm-200" placeholder="{{lang.get('Search by designator')}}"
              (keyup)="callbackKeyPress($event)">
            <div class="form-control-feedback">
              <i class="icon-search4 font-size-base text-muted"></i>
            </div>
          </div>
        </li>

        <li class="list-inline-item">
          <div class="form-group wmin-200">
            <!-- <label class="text-semibold">Aerodrome</label> -->
            <simple-selector [disabled]="false" [items]="airportList" (callbackChange)="callbackChangeAirport($event)"></simple-selector>
          </div>
        </li>
      </ul>
    </div>
  </div>


  <div class="card-body text-center text-muted font-weight-semibold font-size-lg" *ngIf="requestList.length==0">
    <span *ngIf="isLoaded">
      {{lang.get('Data not found')}}
    </span>
    <span *ngIf="!isLoaded">
      {{lang.get('Loading...')}}
    </span>
  </div>

  <grid *ngIf="requestList?.length > 0" [config]="grid.config" [dataSource]="grid.dataSource" (callbackPerPage)="callbackGridPerPage($event)"
    (callbackPage)="callbackGridPage($event)" (callbackSort)="callbackGridSort($event)" (callbackAction)="callbackAction($event)"></grid>
  <!-- {{projService.googleToDmsString(coordinate)}} -->
</div>