<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AIP.GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <!--<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />-->
    <providers>
      <!--<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />-->
      <provider invariantName="Npgsql" type="Npgsql.NpgsqlServices, EntityFramework6.Npgsql" />
    </providers>
    <defaultConnectionFactory type="Npgsql.NpgsqlConnectionFactory,Npgsql" />
  </entityFramework>
  <connectionStrings>
    <!--<add name="DbConnection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=AIP_EV2;Integrated Security=True;Connect Timeout=15;User Id=sa;Password=12345678;Encrypt=True;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False;Persist Security Info=False"
      providerName="System.Data.SqlClient" />-->
    <add name="PGDbConnection" connectionString="Server=127.0.0.1;Port=5432;Database=AIP_EV2;EntityAdminDatabase=AIP_EV2;User Id=aip_user;Password=Gsko93*g3#kl2" providerName="Npgsql" />
    <!--<add name="PGDbConnection" connectionString="Server=127.0.0.1;Port=5432;Database=AIP_EV2;EntityAdminDatabase=AIP_EV2;User Id=aip_user;Password=Gsko93*g3#kl2" providerName="Npgsql" />-->
  </connectionStrings>
  <userSettings>
    <AIP.GUI.Properties.Settings>
      <setting name="ConnectionType" serializeAs="String">
        <value>Aran</value>
      </setting>
      <setting name="CurrentAISID" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="IsPreviewExternal" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="eAIPLanguage" serializeAs="String">
        <value>en-GB</value>
      </setting>
      <setting name="CheckSectionForFilling" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UserTemplates" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AskReFillSection" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MakeAIPDebug" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GeneratePDF" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MaxLogMessages" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="UseCache" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="NilSections" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowErrors" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowWarnings" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowOutput" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowLinks" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CreateReport" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="eAIPDateFormat" serializeAs="String">
        <value>dd MMM yyyy</value>
      </setting>
      <setting name="GetBeforePreview" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CurrentVersion" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PendingData" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SectionNumberToGen" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PCS" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PreviewWOAmdt" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PathToCompareFolder" serializeAs="String">
        <value />
      </setting>
    </AIP.GUI.Properties.Settings>
  </userSettings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="fileInfo" type="AsyncWrapper" queueLimit="15000" overflowAction="Block">
        <target xsi:type="File" fileName="C:\TOSS\logs\aip.log" archiveFileName="C:\TOSS\logs\archive\aip.{#}.log" archiveEvery="Day" archiveNumbering="Date" archiveDateFormat="yyyy-MM-dd-HH-mm" maxArchiveFiles="8" layout="${level:uppercase=true}|${machinename}|${windows-identity}|${assembly-version}|${logger}|${longdate}|${message}" />
      </target>
      <target name="fileWarn" xsi:type="File" fileName="C:\TOSS\logs\aipwarn.log" archiveFileName="C:\TOSS\logs\archive\aipwarn.{#}.log" archiveEvery="Day" archiveNumbering="Date" archiveDateFormat="yyyy-MM-dd-HH-mm" maxArchiveFiles="8" layout="${level:uppercase=true}|${machinename}|${windows-identity}|${assembly-version}|${logger}|${longdate}|${message}${exception:format=toString}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="fileInfo" />
      <logger name="*" minlevel="Warn" writeTo="fileWarn" />
      <!--<logger name="*" minlevel="Debug" writeTo="fileDebug" />-->
    </rules>
  </nlog>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Npgsql"></remove>
      <add name="Npgsql Data Provider" support="FF" invariant="Npgsql" description="Data Provider for PostgreSQL" type="Npgsql.NpgsqlFactory, Npgsql, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Npgsql" publicKeyToken="5d8b90d52f46fda7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.12.0" newVersion="2.0.12.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>