@using System

<table frame="border" align="center">
    <colgroup>
        <col width="50%" />
        <col width="50%" />
    </colgroup>
	<tbody>
	@foreach (var data in Model)
	{
		<tr>
			<th align="left" class="bleft btop bright bbottom" rowspan="2" valign="top">@Raw(data.Title)</th>
			<td class="bleft btop bright bbottom">@Raw(data.Description)</td>
		</tr>
		<tr>
			<td class="bleft btop bright bbottom"><e:Graphic-file id="" xlink:show="replace" xlink:href="../graphics/eAIP/@data.FileName" Type="@data.FileType" Page-name=""/></td>
		</tr>
	}
	</tbody>
</table>