@using System
@if (Model != null && Model.Count > 0)
{
	<table frame="border" align="center">
	    <colgroup>
	        <col width="50%" />
	        <col width="50%" />
	    </colgroup>
		<tbody>
		@foreach (var data in Model)
		{
			<tr>
				<td align="left" class="bleft btop bright bbottom" valign="top">@Raw(data.Title)</td>
				<td class="bleft btop bright bbottom">@Raw(data.Description)
				    @foreach (var GraphicFile in data.GraphicFiles)
				    {
				        @:<br/>@Raw(GraphicFile)
				    }
                </td>
			</tr>
		}
		</tbody>
	</table>
}