<div class="oms-map-info" dragging>
  <div class="card m-0">
    <div class="card-header bg-transparent header-elements-inline py-1">
      <span class="card-title font-weight-bold mr-1">Airport info</span>
      <div class="header-elements">
        <div class="list-icons">
          <a class="list-icons-item" title="Collapse" href="javascript:void(0)" data-toggle="collapse" data-target="#demo" (click)="collapseIconRotate = !collapseIconRotate">
            <i class="icon-arrow-down22 icon-2x" [ngClass]="{'rotate-180': collapseIconRotate}"></i></a>
          <a class="list-icons-item" title="Close" [routerLink] = "['/map']" ><i class="icon-cross2"></i></a>
        </div>
      </div>
    </div>

    <div class="card-body p-0 collapse show" id="demo">
      <ul class="nav nav-sidebar my-2">
        <li class="nav-item py-2 px-3">
          <span class="font-weight-bold mr-1">
            Name:
          </span>
          <span>{{data.Name}}</span>
        </li>
        <li class="nav-item py-2 px-3">
          <span class="font-weight-bold mr-1">
            Designator:
          </span>
          <span>{{data.Designator}}</span>
        </li>
        <!-- <li class="nav-item py-2 px-3">
          <span class="font-weight-bold mr-1">
            Address:
          </span>
          <span>Mailin St 2, Almaty 050039</span>
        </li>
        <li class="nav-item py-2 px-3">
          <span class="font-weight-bold mr-1">
            Code:
          </span>
          <span>ALA</span>
        </li>
        <li class="nav-item py-2 px-3">
          <span class="font-weight-bold mr-1">
            Altitude:
          </span>
          <span>681 m</span>
        </li> -->
      </ul>
    </div>
  </div>
</div>