<?xml version="1.0" encoding="utf-8"?>
<TreeView xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" ExpandAnimation="None" SpacingBetweenNodes="-1" AllowDragDrop="false" ItemHeight="27" LabelEdit="false" ThemeName="Office2013Light" AllowDrop="false" BackColor="Transparent">
  <Nodes Name="GEN_" Expanded="true" Text="GENERAL (GEN)">
      <Nodes Name="GEN0" Expanded="true" Text="GEN 0">
        <Nodes Name="GEN01" Text="GEN 0.1 PREFACE" />
        <Nodes Name="GEN02" Text="GEN 0.2 RECORD OF AIP AMENDMENTS" />
        <Nodes Name="GEN03" Text="GEN 0.3 RECORD OF AIP SUPPLEMENTS" />
        <Nodes Name="GEN04" Text="GEN 0.4 CHECKLIST OF AIP PAGES" />
        <Nodes Name="GEN05" Text="GEN 0.5 LIST OF HAND AMENDMENTS TO THE AIP" />
        <Nodes Name="GEN06" Text="GEN 0.6 TABLE OF CONTENTS TO PART 1" />
      </Nodes>
      <Nodes Name="GEN1" Expanded="false" Text="GEN 1 NATIONAL REGULATIONS AND REQUIREMENTS">
        <Nodes Name="GEN11" Text="GEN 1.1 DESIGNATED AUTHORITIES" />
        <Nodes Name="GEN12" Text="GEN 1.2 ENTRY, TRANSIT AND DEPARTURE OF AIRCRAFT" />
        <Nodes Name="GEN13" Text="GEN 1.3 ENTRY, TRANSIT AND DEPARTURE OF PASSENGERS AND CREW" />
        <Nodes Name="GEN14" Text="GEN 1.4 ENTRY, TRANSIT AND DEPARTURE OF CARGO" />
        <Nodes Name="GEN15" Text="GEN 1.5 AIRCRAFT INSTRUMENTS, EQUIPMENT AND FLIGHT DOCUMENTS" />
        <Nodes Name="GEN16" Text="GEN 1.6 SUMMARY OF NATIONAL REGULATIONS AND INTERNATIONAL AGREEMENTS/CONVENTIONS" />
        <Nodes Name="GEN17" Text="GEN 1.7 DIFFERENCES FROM ICAO STANDARDS, RECOMMENDED PRACTICES AND PROCEDURES" />
      </Nodes>
      <Nodes Name="GEN2" Expanded="false" Text="GEN 2 TABLES AND CODES">
        <Nodes Name="GEN21" Text="GEN 2.1 MEASURING SYSTEM, AIRCRAFT MARKINGS, HOLIDAYS" />
        <Nodes Name="GEN22" Text="GEN 2.2 ABBREVIATIONS USED IN AIS PUBLICATIONS" />
        <Nodes Name="GEN23" Text="GEN 2.3 CHART SYMBOLS" />
        <Nodes Name="GEN24" Text="GEN 2.4 LOCATION INDICATORS" />
        <Nodes Name="GEN25" Text="GEN 2.5 LIST OF RADIO NAVIGATION AIDS" />
        <Nodes Name="GEN26" Text="GEN 2.6 CONVERSION OF UNITS OF MEASUREMENT" />
        <Nodes Name="GEN27" Text="GEN 2.7 SUNRISE/SUNSET" />
      </Nodes>
      <Nodes Name="GEN3" Expanded="false" Text="GEN 3 SERVICES">
        <Nodes Name="GEN31" Text="GEN 3.1 AERONAUTICAL INFORMATION SERVICES" />
        <Nodes Name="GEN32" Text="GEN 3.2 AERONAUTICAL CHARTS" />
        <Nodes Name="GEN33" Text="GEN 3.3 AIR TRAFFIC SERVICES" />
        <Nodes Name="GEN34" Text="GEN 3.4 COMMUNICATION SERVICES" />
        <Nodes Name="GEN35" Text="GEN 3.5 METEOROLOGICAL SERVICES" />
        <Nodes Name="GEN36" Text="GEN 3.6 SEARCH AND RESCUE" />
      </Nodes>
      <Nodes Name="GEN4" Expanded="false" Text="GEN 4 CHARGES FOR AERODROMES/HELIPORTS AND AIR NAVIGATION SERVICES">
        <Nodes Name="GEN41" Text="GEN 4.1 AERODROME/HELIPORT CHARGES" />
        <Nodes Name="GEN42" Text="GEN 4.2 AIR NAVIGATION SERVICES CHARGES" />
      </Nodes>
  </Nodes>
  <Nodes Name="ENR_" Expanded="true" Text="EN-ROUTE (ENR)">
    <Nodes Name="ENR0" Text="ENR 0">
      <Nodes Name="ENR01" Text="ENR 0.1 PREFACE" />
      <Nodes Name="ENR02" Text="ENR 0.2 RECORD OF AIP AMENDMENTS" />
      <Nodes Name="ENR03" Text="ENR 0.3 RECORD OF AIP SUPPLEMENTS" />
      <Nodes Name="ENR04" Text="ENR 0.4 CHECKLIST OF AIP PAGES" />
      <Nodes Name="ENR05" Text="ENR 0.5 LIST OF HAND AMENDMENTS TO THE AIP" />
      <Nodes Name="ENR06" Text="ENR 0.6 TABLE OF CONTENTS TO PART 2" />
    </Nodes>
    <Nodes Name="ENR1" Text="ENR 1 GENERAL RULES AND PROCEDURES">
      <Nodes Name="ENR11" Text="ENR 1.1 GENERAL RULES" />
      <Nodes Name="ENR12" Text="ENR 1.2 VISUAL FLIGHT RULES" />
      <Nodes Name="ENR13" Text="ENR 1.3 INSTRUMENT FLIGHT RULES" />
      <Nodes Name="ENR14" Text="ENR 1.4 ATS AIRSPACE CLASSIFICATION AND DESCRIPTION" />
      <Nodes Name="ENR15" Text="ENR 1.5 HOLDING, APPROACH AND DEPARTURE PROCEDURES" />
      <Nodes Name="ENR16" Text="ENR 1.6 ATS SURVEILLANCE SERVICES AND PROCEDURES" />
      <Nodes Name="ENR17" Text="ENR 1.7 ALTIMETER SETTING PROCEDURES" />
      <Nodes Name="ENR18" Text="ENR 1.8 REGIONAL SUPPLEMENTARY PROCEDURES " />
      <Nodes Name="ENR19" Text="ENR 1.9 AIR TRAFFIC FLOW MANAGEMENT  AND AIRSPACE MANAGEMENT" />
      <Nodes Name="ENR110" Text="ENR 1.10 FLIGHT PLANNING" />
      <Nodes Name="ENR111" Text="ENR 1.11 ADDRESSING OF FLIGHT PLAN MESSAGES" />
      <Nodes Name="ENR112" Text="ENR 1.12 INTERCEPTION OF CIVIL AIRCRAFT" />
      <Nodes Name="ENR113" Text="ENR 1.13 UNLAWFUL INTERFERENCE" />
      <Nodes Name="ENR114" Text="ENR 1.14 AIR TRAFFIC INCIDENTS" />
    </Nodes>
    <Nodes Name="ENR2" Text="ENR 2 AIR TRAFFIC SERVICES AIRSPACE">
      <Nodes Name="ENR21" Text="ENR 2.1 FIR, UIR,TMA AND CTA" />
      <Nodes Name="ENR22" Text="ENR 2.2 OTHER REGULATED AIRSPACE" />
    </Nodes>
    <Nodes Name="ENR3" Text="ENR 3 ATS ROUTES">
      <Nodes Name="ENR31" Text="ENR 3.1 LOWER ATS ROUTES"/>
      <Nodes Name="ENR32" Text="ENR 3.2 UPPER ATS ROUTES" />
      <Nodes Name="ENR33" Text="ENR 3.3 AREA NAVIGATION  ROUTES " />
      <Nodes Name="ENR34" Text="ENR 3.4 HELICOPTER ROUTES " />
      <Nodes Name="ENR35" Text="ENR 3.5 OTHER ROUTES" />
      <Nodes Name="ENR36" Text="ENR 3.6 EN-ROUTE HOLDING" />
    </Nodes>
    <Nodes Name="ENR4" Text="ENR 4 RADIO NAVIGATION AIDS/SYSTEMS">
      <Nodes Name="ENR41" Text="ENR 4.1 RADIO NAVIGATION AIDS - EN-ROUTE" />
      <Nodes Name="ENR42" Text="ENR 4.2 SPECIAL NAVIGATION SYSTEMS" />
      <Nodes Name="ENR43" Text="ENR 4.3 GLOBAL NAVIGATION SATELLITE SYSTEM (GNSS)" />
      <Nodes Name="ENR44" Text="ENR 4.4 NAME-CODE DESIGNATORS FOR SIGNIFICANT POINTS" />
      <Nodes Name="ENR45" Text="ENR 4.5 AERONAUTICAL GROUND LIGHTS - EN-ROUTE" />
    </Nodes>
    <Nodes Name="ENR5" Text="ENR 5 NAVIGATION WARNINGS">
      <Nodes Name="ENR51" Text="ENR 5.1 PROHIBITED, RESTRICTED AND DANGER AREAS" />
      <Nodes Name="ENR52" Text="ENR 5.2 MILITARY EXERCISE AND TRAINING AREAS AND AIR DEFENCE IDENTIFICATION ZONE (ADIZ)" />
      <Nodes Name="ENR53" Text="ENR 5.3 OTHER ACTIVITIES OF A DANGEROUS NATURE AND OTHER POTENTIAL HAZARDS" />
      <Nodes Name="ENR54" Text="ENR 5.4 AIR NAVIGATION OBSTACLES " />
      <Nodes Name="ENR55" Text="ENR 5.5 AERIAL SPORTING AND RECREATIONAL ACTIVITIES" />
      <Nodes Name="ENR56" Text="ENR 5.6 BIRD MIGRATION  AND AREAS WITH SENSITIVE FAUNA" />
    </Nodes>
    <Nodes Name="ENR6" Text="ENR 6 EN-ROUTE CHARTS">
    </Nodes>
  </Nodes>
  <Nodes Name="AD_" Expanded="true" Text="AERODROMES (AD)">
    <Nodes Name="AD0" Text="AD 0">
      <Nodes Name="AD01" Text="AD 0.1 PREFACE" />
      <Nodes Name="AD02" Text="AD 0.2 RECORD OF AIP AMENDMENTS" />
      <Nodes Name="AD03" Text="AD 0.3 RECORD OF AIP SUPPLEMENTS" />
      <Nodes Name="AD04" Text="AD 0.4 CHECKLIST OF AIP PAGES" />
      <Nodes Name="AD05" Text="AD 0.5 LIST OF HAND AMENDMENTS TO THE AIP" />
      <Nodes Name="AD06" Text="AD 0.6 TABLE OF CONTENTS TO PART 3" />
    </Nodes>
    <Nodes Name="AD1" Text="AD 1 AERODROMES/HELIPORTS - INTRODUCTION">
      <Nodes Name="AD11" Text="AD 1.1 AERODROME/HELIPORT AVAILABILITY AND CONDITIONS OF USE" />
      <Nodes Name="AD12" Text="AD 1.2 RESCUE AND FIRE FIGHTING SERVICES AND SNOW PLAN" />
      <Nodes Name="AD13" Text="AD 1.3 INDEX TO AERODROMES AND HELIPORTS" />
      <Nodes Name="AD14" Text="AD 1.4 GROUPING OF AERODROMES/HELIPORTS" />
      <Nodes Name="AD15" Text="AD 1.5 STATUS OF CERTIFICATION OF AERODROMES" />
    </Nodes>
    <Nodes Name="AD2" Text="AD 2 AERODROMES">
    </Nodes>
    <Nodes Name="AD3" Text="AD 3 HELIPORTS">
    </Nodes>
  </Nodes>
</TreeView>