<div class="card m-3">
  <div class="card-header bg-white header-elements-sm-inline">
    <h6 class="card-title">Request list</h6>
    <div class="header-elements">
      <ul class="list-inline mb-0">
        <li class="list-inline-item">
          <div class="form-group-feedback form-group-feedback-right">
            <input type="search" class="form-control wmin-sm-200" placeholder="Search by designator" (keyup)="callbackKeyPress($event)">
            <div class="form-control-feedback">
              <i class="icon-search4 font-size-base text-muted"></i>
            </div>
            <!-- <div class="form-group">
                  <label for="height" translate>Height AGL (m)</label>
                  <input [readonly]="requestData?.submitted" type="number" class="form-control py-0" required
                    [(ngModel)]="requestData.height" name="height" #height="ngModel">
                  <div *ngIf="height.touched && height.invalid" translate>Height is required</div>
                </div> -->
          </div>
        </li>
        <li class="list-inline-item">
          <div class="form-group wmin-200">
            <!-- <label class="text-semibold">Users</label> -->
            <simple-selector [disabled]="false" [items]="userList" (callbackChange)="callbackChangeUser($event)"></simple-selector>
          </div>
        </li>
        <li class="list-inline-item">
          <div class="form-group wmin-200">
            <!-- <label class="text-semibold">Aerodrome</label> -->
            <simple-selector [disabled]="false" [items]="airportList" (callbackChange)="callbackChangeAirport($event)"></simple-selector>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="card-body text-center text-muted font-weight-semibold font-size-lg" *ngIf="requestList.length==0">
    <span *ngIf="isLoaded">
        Data not found
    </span>
    <span *ngIf="!isLoaded">
        Loading...
    </span>
  </div>

  <grid *ngIf="requestList?.length > 0" [config]="grid.config" [dataSource]="grid.dataSource" (callbackPerPage)="callbackGridPerPage($event)"
    (callbackPage)="callbackGridPage($event)" (callbackSort)="callbackGridSort($event)" (callbackAction)="callbackAction($event)"></grid>

</div>