<div class="oms-map-filter" dragging>
  <div class="card m-0">
    <div class="card-header bg-transparent header-elements-inline py-1">
      <span class="card-title font-weight-bold mr-1">Filter</span>
      <div class="header-elements">
        <div class="list-icons">
          <a class="list-icons-item" title="Collapse" href="javascript:void(0)" data-toggle="collapse" data-target="#oms-map-filter-collapse"
            (click)="collapseIconRotate = !collapseIconRotate">
            <i class="icon-arrow-down22 icon-2x" [ngClass]="{'rotate-180': collapseIconRotate}"></i></a>
          <a class="list-icons-item" title="Close" [routerLink]="['/map']"><i class="icon-cross2"></i></a>
        </div>
      </div>
    </div>

    <div class="card-body p-2 collapse show" id="oms-map-filter-collapse">
      <!-- <ngx-treeview [config]="config" [items]="items"  (selectedChange)="values = $event" [disabled]="!dropdownEnabled"
            [ngxDisabledOnSelector]="'button.dropdown-toggle'" (filterChange)="onFilterChange($event)">
          </ngx-treeview> -->
      <ngx-treeview [config]="config" [items]="items" (selectedChange)="onFilterChange($event)" (filterChange)="onFilterChange($event)">
      </ngx-treeview>
    </div>
  </div>
</div>