<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <system.serviceModel>
    <diagnostics wmiProviderEnabled="true" performanceCounters="All">
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" maxMessagesToLog="10" maxSizeOfMessageToLog="10000"/>
    </diagnostics>
    <services>
      <service behaviorConfiguration="mexBehavior" name="ChartServices.Service.ChartManagerService">
        <endpoint address="ChartServices" binding="wsDualHttpBinding" bindingConfiguration="wsBindingConfig" name="wsBinding_ChartService" contract="ChartServices.Services_Contract.IChartManagerService"/>

        <endpoint address="ChartServices" binding="netTcpBinding" bindingConfiguration="netTcpBindingConfig" name="netTcp_ChartService" contract="ChartServices.Services_Contract.IChartManagerService"/>

        <endpoint address="mex" binding="mexTcpBinding" name="mexTcp" contract="IMetadataExchange"/>
        <endpoint address="mex" binding="mexHttpBinding" name="mexHttp" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8733/"/>
            <add baseAddress="http://localhost:8734/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <wsDualHttpBinding>
        <binding name="wsBindingConfig">
          <security mode="Message">
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
      </wsDualHttpBinding>
      <netTcpBinding>
        <binding name="netTcpBindingConfig" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
          <readerQuotas maxDepth="32" maxArrayLength="200000000" maxStringContentLength="200000000"/>
          <security mode="Message">
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
          <serviceCredentials>
            <clientCertificate>
              <authentication certificateValidationMode="PeerTrust"/>
            </clientCertificate>
            <serviceCertificate findValue="ChartManagerCert" storeLocation="LocalMachine" storeName="My" x509FindType="FindByIssuerName"/>
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="ChartServices.CustomUserNameValidator, ChartServices"/>
          </serviceCredentials>

          <!--<serviceAuthorization principalPermissionMode="Custom">
            <authorizationPolicies>
              <add policyType="ChartServices.AuthorizationPolicy, ChartServices, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
            </authorizationPolicies>
          </serviceAuthorization>-->

        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
