@{
    //ViewBag.Title = "InsertView";
    Layout = "~/Views/Shared/_LayoutHomePage.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>Edit User List</title>
    <style type="text/css">
        .header {
            font-weight: bold;
            background-color: #e8e3e3;
            color: #dc8b8b;
            font-size: 1.7em;
            padding: 1rem;
            top: 0;
            text-align: center;
            text-transform: uppercase;
            min-width: 900px;
        }

        tr.spaceUnder > td {
            padding-bottom: 1.5em;
        }

        .toggle.ios, .toggle-on.ios, .toggle-off.ios {
            border-radius: 20px;
        }

            .toggle.ios .toggle-handle {
                border-radius: 20px;
            }

        .gi-5x {
            font-size: 1.3em;
        }

        .slow .toggle-group {
            transition: left 0.7s;
            -webkit-transition: left 0.7s;
        }
    </style>
</head>
<body>
    <div class="header" style="padding-top:100px;">Edit User Form</div>
    <br />
    <center>
        <table id="TblEdit" style="margin-left: 10px;">
            <tr class="spaceUnder">
                <td><span style="font-weight: bold;">UserID:</span></td>
                <td>
                    <input id="ID" class="form-control" placeholder="UserID" disabled="disabled" />

                </td>

            </tr>
            <tr class="spaceUnder">
                <td><span style="font-weight: bold;">First Name:</span></td>
                <td>
                    <input id="Firstname" class="form-control" placeholder="First Name" />

                </td>
            </tr>
            <tr class="spaceUnder">
                <td><span style="font-weight: bold;">Last Name:</span></td>
                <td><input id="Lastname" class="form-control" placeholder="Last Name" /></td>
            </tr>
            <tr class="spaceUnder">
                <td><span style="font-weight: bold;">User Name:</span></td>
                <td><input id="EditUsrName" class="form-control" type="text" placeholder="User Name" /></td>
            </tr>
            <tr class="spaceUnder">
                <td><span style="font-weight: bold;">Email:</span></td>
                <td><input id="EditEmail" class="form-control" placeholder="Email" /></td>
            </tr>
            <tr class="spaceUnder">
                <td><span style="font-weight: bold;">Position:</span></td>
                <td><input id="EditPosition" class="form-control" type="text" placeholder="Position" /></td>
            </tr>
            <tr id="trPrivlege" class="spaceUnder">
                <td><span style="font-weight: bold;">Privilege:</span></td>
                <td><select id="EditPrivilege" class="form-control"><option value="ReadOnly">ReadOnly</option><option value="Full">Full</option></select></td>
            </tr>
            <tr id="trDisabled" class="spaceUnder">
                <td><span style="font-weight: bold;">Disabled:</span></td>
                <td><input id="changedchecked" checked type="checkbox" data-toggle="toggle" data-style="ios slow" data-on="ON" data-off="OFF" data-onstyle="primary" data-offstyle="danger" data-size="normal" /></td>
            </tr>
            <tr>
                <td><input id="BackPage" value="Back" style="width: 100px;" class="btn btn-primary" readonly="readonly" onclick="location.href='@Url.Action("LoadHome", "MyHome")'" /></td>
                <td><input id="EditBtn" type="button" value="SAVE" class="btn btn-danger" style="width: 150px;margin-left:50px;" /></td>
            </tr>
        </table>
    </center>
</body>
</html>
<script type="text/javascript">
    $(document).ready(function () {
        var UserSession = '@Session["username"]';

        if (UserSession != "admin") {
            //location.href = "@Url.Action("LoadLogin", "MyHome")";
            //alert(sessionStorage.getItem("username"));
            $("#trPrivlege").css("display", "none");
            $("#trDisabled").css("display", "none");
        }
        $("#ID").val(sessionStorage.getItem("UserID"));
        $("#Firstname").val(sessionStorage.getItem("Fisrtname"));
        $("#Lastname").val(sessionStorage.getItem("Lastname"));
        $("#EditUsrName").val(sessionStorage.getItem("UsernameForEdit"));
        $("#EditEmail").val(sessionStorage.getItem("Email"));
        $("#EditPosition").val(sessionStorage.getItem("Position"));
        $("#EditPrivilege option[value='" + sessionStorage.getItem("Privilege") + "']").attr('selected', 'selected');
        //$("#EditDisebld option[value='" + sessionStorage.getItem("Disabled") + "']").attr('selected', 'selected');
        var ChangeDisbld = sessionStorage.getItem("Disabled");
        if (sessionStorage.getItem("Disabled") == "False") {
            $("#TblEdit").find("#trDisabled").each(function () {
                //alert($(this).find("td:eq(1)").find("[id*=changedchecked]").html());
                $(this).find("td:eq(1) input[type='checkbox']").bootstrapToggle('off');
            });
        }

        $("#TblEdit").find("#trDisabled").find("td:eq(1) input[type='checkbox']").change(function () {
            if ($(this).is(":checked")) {
                ChangeDisbld = "True";
            }
            else {
                ChangeDisbld = "False";
            }
        });

        $("#EditBtn").click(function () {

            $.ajax({
                type: "POST",
                url: "/MyHome/EditUser",
                data: '{id:"' + $("#ID").val() + '",firstname:"' + $("#Firstname").val() + '",lastname:"' + $("#Lastname").val() + '",privilege:"' + $('#EditPrivilege > option:selected').val() + '",username:"' + $("#EditUsrName").val() + '",email:"' + $("#EditEmail").val() + '",disabled:"' + ChangeDisbld + '",position:"' + $("#EditPosition").val() + '"}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    //alert("Successed");
                    location.href = "@Url.Action("LoadHome", "MyHome")";
                },
                error: function (response) {
                    alert("Error");
                }
            });

            //----------------------------------------------------------------------------------------------
            //{
            //var IDUSER = sessionStorage.getItem("UserID");
            //var FirstN = sessionStorage.getItem("Fisrtname");
            //var LastN = sessionStorage.getItem("Lastname");
            //var EmailN = sessionStorage.getItem("Email");

            //$.ajax({
            //    type: "POST",
            //    url: "/MyHome/EditAjax",
            //    data: '{UserId: "' + IDUSER + '",FirstName: "' + $("#Firstname").val() + '",LastName: "' + $("#Lastname").val() + '",Email:"' + $("#Email").val() + '" }',
            //    contentType: "application/json; charset=utf-8",
            //    dataType: "json",
            //    success: function (response) {
            //        //alert("Hello: " + response.Name + "");
            //        //alert(response.ID + ",    " + response.Firstname + ",     " + response.Lastname);
            //        alert("successed");
            //    },
            //    failure: function (response) {
            //        alert("Failure");
            //    },
            //    error: function (response) {
            //        alert("Error");
            //    }
            //});

            //}

        });
    });
</script>
