<!-- Login form -->
<div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 mt-3">
  <div class="col-xl-4 offset-xl-4 col-lg-4 offset-lg-4 col-md-4 offset-md-4 col-sm-8 offset-sm-2 mt-0 pb-5">
    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="card mb-0">
        <div class="card-body">
          <div class="text-center mb-3">
            <!-- <i class="icon-reading icon-2x text-slate-300 border-slate-300 border-3 rounded-round p-3 mb-3 mt-1"></i> -->
            <h6 class="mb-0 font-weight-semibold">Obstacle management system</h6>
            <h5 class="mb-0">Login to your account</h5>
            <span class="d-block text-muted">Your credentials</span>

            <span *ngIf="submitted && !f.username.invalid && badRequest" class="form-text text-danger"> Username or password is incorrect!</span>
          </div>

          <div class="form-group">
            <input type="text" class="form-control" placeholder="Username" formControlName="username" (keyup)="badRequest = false;">
            <!-- <div class="form-control-feedback">
              <i class="icon-user text-muted"></i>
            </div> -->

            <div *ngIf="submitted && f.username.invalid">
              <span *ngIf="f.username.errors.required" class="form-text text-danger"> Username is required</span>
              <span *ngIf="f.username.errors.minlength" class="form-text text-danger"> Username must be at least 6
                characters</span>
                      </div>
          </div>

          <div class="form-group form-group-feedback form-group-feedback-right">
            <input [type]="passwordShow ? 'text' : 'password'" class="form-control" placeholder="Password"
              formControlName="password"  (keyup)="badRequest = false;">
            <!-- <div class="form-control-feedback">
              <i class="icon-lock2 text-muted"></i>
            </div> -->
            <div *ngIf="!(f.password.invalid && f.password.errors.required)" class="form-control-feedback"
              (click)="passwordShow = !passwordShow">
              <a href="javascript:void(0)"><i class="icon-eye" [class.text-muted]="!passwordShow"></i></a>
            </div>
            <div *ngIf="submitted && f.password.invalid">
              <span *ngIf="f.password.errors.required" class="form-text text-danger"> Password is required</span>
              <span *ngIf="f.password.errors.minlength" class="form-text text-danger"> Password must be at least 6
                characters</span>
                      </div>
          </div>

          <div class="form-group d-flex align-items-center">
            <div class="form-check mb-0 pl-0">
              <label class="form-check-label">
                <input type="checkbox" name="remember" class="form-input-styled" checked formControlName="remember">
                Remember
              </label>
            </div>

            <a [routerLink]="['/recovery']" class="ml-auto">Forgot password?</a>
          </div>

          <div class="form-group">
            <button [disabled]="loading" type="submit" class="btn bg-blue btn-block">Sign in</button>
          </div>

          <div class="form-group">
            <!-- <a [routerLink]="['/reset-password']"  [queryParams]="{code:'CfDJ8L1&#x2B;8v5AXtVJsnilZXldIV9ND4RJbDbQukCXbN/5AFrswlGRb1mZ79TtmUyUQyiUIRprAUbW5fC31keLh7Y9YGysFBihO9hc/OcyXAtV6J/HnmUKbc/nywWy7hHGbnJJiYd4pKLRN8TTmm2V0oXahViM8th25LqGhxvBAs&#x2B;qU9b3JeSZOcPGf4XDWRImXkdPGw==', email:'abuzarh@risk.az'}" class="btn btn-light btn-block">Reset test</a> -->
            <!-- <a [routerLink]="['/reset-password']"  [queryParams]="{email:'vugard@risk.az',code:'CfDJ8L1&#x2B;8v5AXtVJsnilZXldIV9ND4RJbDbQukCXbN/5AFrswlGRb1mZ79TtmUyUQyiUIRprAUbW5fC31keLh7Y9YGysFBihO9hc/OcyXAtV6J/HnmUKbc/nywWy7hHGbnJJiYd4pKLRN8TTmm2V0oXahViM8th25LqGhxvBAs&#x2B;qU9b3JeSZOcPGf4XDWRImXkdPGw=='}" class="btn btn-light btn-block">Reset test</a> -->
            <!-- <a [routerLink]="['/reset-password','CfDJ8PDGm%2FVsDa1Arb5ag%2FCfdtsvmjS78OPuXDiY%2Bp6xgMVPZ7Trl8YtdPuVDfDpcSmVuU5Donq0JzlzqwON2kuI1Ba6DKuIMM0s9uGNDqrJsznsUFg3%2B6eYY%2FQMwB3ODFu68CizTTB7HIrqQPeAc430F3XZcTI7SZV1MgHNqcuCd3G6iPrIhBDGWz323hp%2BZqhv6g%3D%3D','vuqar.ahmedoglu@gmail.com']" class="btn btn-light btn-block">Reset test</a> -->
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- /login form -->