@using ChartManagerWeb.Helper

@{
    var alerts = TempData.ContainsKey(Alert.TempDataKey)
        ? (List<Alert>) TempData[Alert.TempDataKey]
        : new List<Alert>();
    <span>
        @{
            foreach (var alert in alerts)
            {
                <div class="alert alert-@alert.AlertStyle alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>@alert.AlertStyle.ToUpper():</strong> @alert.Message
                </div>

            }
        }
    </span>
}