<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="MongoDBConnection" connectionString="mongodb://localhost" />-->
    <add name="MongoDBConnection" connectionString="mongodb://aip_user:passw0rd@172.30.61.16:27017/eAIPProduction" />
  </connectionStrings>
</configuration>
